/* madia screen */
@media screen and (max-width: 768px) {
    .main {
        position: relative;
    }

    .right {
        position: absolute;
        width: 336px;
        height: 292px;
        right: 0%;
        bottom: 107px;
    }

    .left {
        z-index: 1;
    }
    .footer__lists {
        flex-direction: column;
    }
    .footer__list {
        width: 100%;
    }
} 

@media screen and (max-width: 376px) {
    .main {
        position: relative;
    }

    .right {
        display: none;
    }

    .left {
        z-index: 1;
    }
    .aboutbot {
        flex-wrap: wrap;
    }
    .aboutbot__item {
        min-height: 255px;
    }
    .footer__top {
        flex-direction: column;
    }
    .footer__describtion {
        
        width: 100%;
        text-align: center;
        
    }
    .abouttop__text {
        font-size: 15px;
        padding: 10px;
    }
    
}