/* ВЕРХУШКА */
.container__finish {
    margin-top: 63px;
}

.about__finish {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.title__finish {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    font-style: normal;
    color: black;
}

.title__finish1 {
    margin: 0 auto;
    margin-top: 32px;
    width: 100%;
    max-width: 750px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Roboto';
    letter-spacing: 0.05em;
    text-align: center;
    color: black;
}

/* ВЕРХНИЙ БЛОК */
.abouttop {
    display: block;
    height: calc(100vw/2.48);
    width: 100%;
    max-height: 446px;
    /* background: url("/img/background/Mask\ Group.png");
    background-size: cover; */
    position: relative;
    justify-content: end;
    margin-top: 64px;
    /* padding: 64px; */

}

.abouttop__img {
    position: absolute;
    z-index: -1;
}

h5 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    font-style: normal;
    letter-spacing: 0.05em;
    color: white;
    text-align: end;
    padding: 64px;
}

.aboutbot {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    grid-gap: 32px;
    /* flex-wrap: wrap; */
    justify-content: center;

}

.aboutbot__item {
    position: relative;
    width: 100%;
    height: calc(100vw/2.57);
    max-height: 417px;
}

.aboutbot__item h5 {
    text-align: start;
    font-size: 28px;
    padding: 32px;
}

.aboutbot__img {
    position: absolute;
    z-index: -1;
}